<div>
    <div class="container containerTop">
        <button class="btn btn-success" (click)="goBack()">Cancel   </button>
    </div>

    <div class="container containerBody p-4" *ngIf="student; else loggedOut"> 
        <h2>Student details</h2>        
        <div>
            <div class="form-group row">
                <label for="matriculeLabel" class="col-sm-3 col-form-label ">Registration number</label>                
                <label for="matriculeValue" class="col-sm-3 col-form-label ">: {{student.matricule}}</label>                                                         
            </div>
      
            <div class="form-group row">
                <label for="firstNameLabel" class="col-sm-3 col-form-label">First name</label>
                <label for="firstNameValue" class="col-sm-3 col-form-label ">: {{student.firstName}}</label>                
            </div>
            <div class="form-group row">
                <label for="lastNameLabel" class="col-sm-3 col-form-label">Last name</label>
                <label for="lastNameValue" class="col-sm-3 col-form-label ">: {{student.lastName}}</label>                
            </div>
      
            <div class="form-group row">
                <label for="emailLabel" class="col-sm-3 col-form-label ">Email</label>
                <label for="emailValue" class="col-sm-3 col-form-label ">: {{student.email}}</label>
            </div>

            <div class="form-group row">
                <label for="phoneNumberLabel" class="col-sm-3 col-form-label">Phone number</label>
                <label for="phoneNumberValue" class="col-sm-3 col-form-label ">: {{student.phoneNumber}}</label>
            </div> 
              
              <div class="form-group row">
                <label for="fatherPhoneNumberLabel" class="col-sm-3 col-form-label">Father phone number</label>
                <label for="fatherPhoneNumberValue" class="col-sm-3 col-form-label ">: {{student.fatherPhoneNumber}}</label> 
              </div>
              <div class="form-group row">
                <label for="motherPhoneNumberLabel" class="col-sm-3 col-form-label">Mother phone number</label>
                <label for="motherPhoneNumberValue" class="col-sm-3 col-form-label ">: {{student.motherPhoneNumber}}</label> 
              </div>    
        </div>         
     </div>
 </div> 
 
 <ng-template #loggedOut>
    Please select somethong to display
</ng-template>   